body .container-fluid{
	max-width: 900px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-size: 5em;
	margin-bottom: .3em;
}

.team img{
	width: 245px;
}

.debitoor-promo {
	display: block;
	margin: 0 auto;
	width:518px;
}

.details {
	font-size: 18px;
}

.details li {
	line-height: 1.6em;
}

.details .label{
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 1;
}

.heading div{
	text-align: center;
	font-size: 2em;
	margin-bottom: 40px;
}
.app-details{
	font-size: 18px;
	padding: 40px 40px 0 40px;
	line-height: 1.6em;
}

.center{
	text-align: center;
	font-size: 16px;
}

h3{
	text-align: center;
}
.team {
	font-size: 16px;
	padding:0 40px;
	line-height: 1.6em;
}
.team label{
	font-weight: bold;
}

.team p{
	padding: 10px 60px 0 0;
	margin-bottom: 40px;
}

.row-fluid {
	padding: 10px 0;
}